<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bohan.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.bohan.entity.Student">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="first_name" jdbcType="VARCHAR" property="firstName"/>
        <result column="last_name" jdbcType="VARCHAR" property="lastName"/>
        <result column="birth" jdbcType="VARCHAR" property="birth"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, first_name, last_name, birth, gender
    </sql>

    <select id="queryAll" resultMap="BaseResultMap" >
        select <include refid="Base_Column_List"></include>
        from student
        where status = 1
    </select>

    <select id="queryStudentsByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"></include>
        from student
        <where>
            p_id = #{userId} and status = 1
        </where>
    </select>

    <insert id="insertSelective" parameterType="com.bohan.entity.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pId != null">
                p_id,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                #{pId,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=VARCHAR},
            </if>
            <if test="email!= null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="deleteById" parameterType="java.lang.String">
        update student
        set status = 2
        where id = #{id}
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.bohan.entity.Student">
        update student
        <set>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>